html {
    body {
        background-color: rgb(198, 227, 240);
        p {
            color: rgb(206, 163, 163);
        }
        li.list-group-item {
            b {
                color: red;
            }
        }
    }
}